.contact {
  height: calc(100vh - 50px);
  background: var(--background1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 30px;
  min-height: 750px;
}
.contact .contact-content {
  display: grid;
  grid-template-rows: 1fr 100px;
  align-self: center;
}
.contact-content .content-mesage {
  display: grid;
  align-items: center;
}
.contact-content .content-mesage h1 {
  font-weight: 600;
  font-size: 3rem;
  margin: 2rem;
  text-align: center;
}
.contact-content .content-mesage span {
  color: orange;
}
.contact-content .content-mesage h2 {
  font-weight: 600;
  font-size: 1.5rem;
}
.contact-content .content-mesage p {
  font-weight: 300;
  font-size: 1rem;
}
.contact-content .contact-Myinfo {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  font-size: 1rem;
  align-self: center;
}
.contact-content .contact-Myinfo i {
  display: flex;
  gap: 1rem;
  font-weight: 600;
}

.contact-content .logo {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 2rem;
  column-gap: 0.5rem;
  margin-right: 2px;
  transition: margin 0.2s ease-in-out;
  height: 50px;
}
.contact-content .logo i {
  cursor: pointer;
}
.contact-content .logo i:hover {
  color: orange;
  font-size: 2.5rem;
  margin-bottom: 5px;
}
.contact-content a {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 1rem;
}
.contact-content a {
  width: 11rem;
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  background: orange;
  transition: 0.3s ease-in-out;
}
.contact-content a:hover {
  scale: 1.2;
  transition: 0.3s ease-in-out;
  color: black;
}
.contact-content a:active {
  scale: 1;
}
/* Contact form */
.contact .form-field {
  display: grid;
  height: 200px;
  align-self: center;
}
.contact .form-field .form-title {
  align-self: center;
}
.contact .form-field .form-title h1 {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}
.contact .form-field .form-title span {
  color: orange;
}

.contact .form-field input[type="text"] {
  background-color: rgba(248, 242, 242, 0.077);
  height: 30px;
  margin: 0.3rem;
  border-radius: 0.3rem;
  padding: 8px;
}

.contact .form-field textarea {
  background-color: rgba(67, 62, 62, 0);
  opacity: 1;
  height: 200px;
  margin: 0.2rem;
  border-radius: 0.3rem;
  padding: 8px;
  outline: none;
  resize: none;
  box-shadow: 0 0.1rem 1.5rem rgba(0, 0, 0, 0.671);
}
.contact .form-field input[type="submit"] {
  display: grid;
  background-color: rgba(248, 242, 242, 0.077);
  height: 35px;
  margin: 0.44rem;
  color: white;
  cursor: pointer;
  width: 300px;
  justify-self: center;
}
.contact .form-field input[type="submit"]:hover {
  scale: 1.2;
  transition: 0.3s ease-in-out;
  color: orange;
}
.contact .form-field input[type="submit"]:active {
  scale: 1;
}
@media (max-width: 1279px) and (min-width: 991px) {
  .contact {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    align-items: center;
    column-gap: 5em;
  }
  .contact .form-field {
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact .form-field textarea {
    height: 100px;
  }
  .contact .form-field input[type="submit"] {
    display: grid;
    align-self: center;
  }
}

@media (max-width: 992px) {
  .contact {
    height: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .contact .form-field {
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: center;
  }

  .contact-content .content-mesage h1 {
    font-size: 2rem;
  }
  .contact .form-field .form-title span {
    color: orange;
  }
  .contact .form-field input[type="submit"] {
    display: grid;
    align-self: center;
  }

  .contact-content .contact-Myinfo {
    display: flex;
    flex-direction: column;
    align-self: start;
  }
  .contact .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 2em;
    grid-row: 2/3;
  }
}
@media (max-width: 640px) {
  .contact .form-field input[type="submit"] {
    width: 100px;
  }
  .contact .form-field {
    justify-content: center;
    align-items: center;
  }
  .contact .form-field textarea {
    width: 300px;
  }
  .contact .form-field input[type="text"] {
    width: 300px;
  }
}
@media (max-width: 376px) {
  .contact .form-field textarea {
    width: 250px;
  }
  .contact .form-field input[type="text"] {
    width: 250px;
  }
}

@media (max-height: 640px) {
  .contact {
    height: 1300px;
  }
}
