.home {
  display: grid;
  background: var(--background1);
  grid-template-rows: calc(100vh - 90px);
  align-items: center;
  justify-content: center;
}
/* drop down menu */

.home .hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: contentAnimation 1s 1;
}

.hero-content p {
  font-size: 2.5rem;
  font-weight: 500;
}
.hero-content span {
  color: orange;
}
.hero-content h1 {
  font-size: 4.3rem;
  font-weight: 600;
}
.hero-content a {
  margin-top: 0.5rem;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  background: orange;
  transition: 0.3s ease-in-out;
}
.hero-content a:hover {
  scale: 1.2;
  transition: 0.3s ease-in-out;
  color: black;
}
.hero-content a:active {
  scale: 1;
}
.hero-picture {
  display: grid;
  justify-content: center;
}
.hero-picture img {
  height: calc(100vh - 90px);
  transition: 0.7s ease-in;
  animation: imageAnimation 1s 1;
}
.hero-picture img:hover {
  opacity: 0.7;
  transition: 0.7s ease-in;
  transition-delay: 0.7s;
}
/* content animation */
@keyframes contentAnimation {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
@keyframes imageAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Responsive Home Section Media Query */

@media (max-width: 1440px) and (min-width: 1278px) {
  .hero-picture img {
    width: 550px;
  }
}
@media (max-width: 1279px) and (min-width: 991px) {
  .hero-content p,
  .hero-content h1 {
    font-size: 2.2rem;
  }
}
@media (max-width: 1024px) {
  .hero-picture img {
    width: 450px;
  }
}
@media (max-width: 992px) {
  .home .hero-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .hero-content h1 {
    font-size: 4rem;
  }
  .hero-content {
    align-self: center;
  }
  .hero-picture img {
    display: none;
  }
  .home .hero-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

@media (max-width: 640px) {
  .hero-content p,
  .hero-content h1 {
    font-size: 2rem;
  }
}
@media (max-width: 475px) {
  .hero-content p,
  .hero-content h1 {
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  body {
    display: none;
  }
}
